<h1>このサイトについて</h1>

<p>ChatGPTのAPIを使用してソクラテス、プラトン、アリストテレスがユーザの質問に答えます</p>

<p>個人のポートフォリオとして制作致しましたので、予告なくサービスが停止する場合がございます。</p>

<p>このサイトのGitHubリンクは以下になります。</p>
<a href="https://github.com/yuukiaaa/chatgpt.git">リンクはこちら</a>
